body:before {
	background-color: #ECF0F1;
}
.navbar .navbar-inner {
	background-color: #FFFFFF;
	box-shadow: rgba(0,0,0,.2) 0 0 6px;
}

.navbar .brand {
	color: #48587D;
}

.nav-search .show-source{
	border-radius: 50%;
	background: #259B9D !important;
	border: 1px solid #259B9D;
	margin-right: 5px;
}

.nav-search .close-source{
	border-radius: 50%;
	background: #FCB04E !important;
	border: 1px solid #FCB04E;
	margin-right: 5px;
}


.main-container {
	background-color: rgba(0,0,0,0.0);
}

.exit-btn {
	background-color: #FFF !important;
}

.exit-btn i{
	color: #8E9AA5 !important;
}

.exit-btn:hover i {
	color: #F76461 !important;
}

/* begin sidebar */
.sidebar:before {
	background-color: #20252B;
}

.sidebar-shortcuts {
	background-color: #2AB3B3;
	max-height: 80px;
	height: 80px;
	border-bottom: 1px dashed #FFF;
}

.sidebar-shortcuts-mini {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-list > li {
	border-top: 1px solid #15191E;
	border-bottom: 1px solid #15191E;
}

.nav-list a {
	background-color: #20252B;
	color: #8E9AA5;
}

.nav-list > li .submenu > li > a {
	border-top: none;
}

.nav-list li.active > a:after {
	border-right-color: #2AB3B3;
}

.nav-list > li.active:after {
	border-right: 2px solid #2AB3B3;
}

.nav-list > li.open {
	border-bottom-color: #15191E;
}

.nav-list > li.open > a {
	background-color: #20252B;
	color: #2AB3B3;
	border-bottom-color: #15191E;
}

.nav-list > li .submenu {
	border-top: none;
}

.nav-list > li > .submenu > li:first-child > a {
	border-top: 1px solid #15191E;
}

.nav-list > li > a, .nav-list > li > a:hover,
.nav-list > li > a:focus,.nav-list > li > a:active {
	background-color: #20252B;
}

.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active {
	color: #2AB3B3;
	background-color: #20252B;
}

.nav-list > li > .submenu:before {
	border-left: 1px solid #15191E;
}
.nav-list > li > .submenu li > .submenu {
	background-color: #20252B;
}

.nav-list > li > .submenu .green {
	color: #8E9AA5 !important;
}

.nav-list .icon-double-angle-right {
	background: #20252B !important;
	color: #2AB3B3 !important;
}

.nav-list .icon-double-angle-right:hover, .nav-list li:hover .icon-double-angle-right,
.nav-list a:hover .icon-double-angle-right {
	background: #20252B !important;
	color: #2AB3B3 !important;
}

.nav-list > li.active > .submenu:before {
	border-left-color: #15191E;
}

.nav-list > li a > .arrow {
	color: #8E9AA5 !important;
}

.nav-list > li > a:hover:before {
	background: #2AB3B3;
}

.nav-list > li a {
	color: #8E9AA5 !important;
}

.nav-list > li a:hover {
	color: #2AB3B3 !important;
	text-decoration: none !important;
}

.nav-list > li > .submenu li.active > a {
	color: #2AB3B3 !important;
	text-decoration: none !important;
}

.menu-min .nav-list > li.open > a {
	background: #20252B;
}

.menu-min .nav-list > li.open.active > a {
	background: #20252B;
}

.menu-min .nav-list > li > a > .menu-text {
	background: #20252B;
}
.menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
	border-bottom: 1px solid #15191E;
}

.menu-min .nav-list > li > .submenu {
	border: 1px solid #15191E !important;
	background-color: #20252B !important;
}

.menu-min .nav-list > li > a > .menu-text {
	box-shadow: none;
	border: 1px solid #15191E !important;
}

.sidebar-collapse {
	border-bottom: 1px solid #15191E;
	background-color: #20252B;
}

.sidebar-collapse:before {
	border-top: 1px dashed #20252B;
}

.sidebar-collapse > [class*="icon-"] {
	color: #15191E;
	border: none;
	background-color: #8E9AA5;
}

.nav-list > li > .submenu > li:first-child > a {
	border-top: 1px solid #15191E;
}

.menu-min .sidebar-shortcuts-large {
	background: #2AB3B3;
	height: 78px;
	box-shadow: none;
	border-top: none;
	border-right: none;
	border-left: 1px dashed #FFF;
	border-bottom: 1px dashed #FFF;
}

.large-user-photo {
	width: 50px;
	height: 50px;
	margin-top: 12px;
	border-radius: 50%;
	border: 3px solid #f5a623;
}

.large-user-name {
	color: #FFF;
	font-size: 13px;
	float: right;
	margin-right: 20px;
	margin-top: 8px;
}

.large-user-btns {
	color: #FFF;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	border: 1px solid #FFF;
	margin-top: -26px;
	margin-left: 100px;
	cursor: pointer;
}

.large-user-btns i {
	float: left;
	padding-left: 4px;
	padding-top: 1px;
}

.mini-user-photo {
	width: 25px;
	height: 25px;
	margin-top: 26px;
	margin-left: 5px;
	border-radius: 50%;
	border: 3px solid #f5a623;
	float: left;
}

/* end sidebar */

.breadcrumbs {
	border-bottom: 1px solid #E2E8E8;
	border-top: 1px solid #DEE4E5;
	background-color: #FFFFFE;
}

.breadcrumb > li > a {
	color: #626F7E;
}

.breadcrumb > li {
	text-shadow: none;
	color: #626F7E;
}

.breadcrumb > li.active {
	color: #20252B;
}

.c-layout-toolbar {
	border-top: 1px solid #C0C9D0;
	background: #FFF;	
}

.dataTables_wrapper {
	background-color: #ECF0F1;
}

.dataTables_wrapper .row-fluid:first-child {
	background: #20252B;
	color: #B6C2C9;
}

.table thead tr {
	background: #FFF;
	color: #20252B;
}

.table-striped tbody th, .table-striped tbody td {
	line-height: 28px;
	color: #626F7F;
}

.dataTable th[class*=sort]:hover {
	color: #2AB3B3;
}
.table-bordered th, .table-bordered td {
	border-left: 1px solid #E2E7EA;
}

.table th, .table td {
	border-top: 1px solid #E2E7EA;
}

.pagination ul > li > a {
	color: #2AB3B3;
	border-color: #15191E;
	background-color: #20252B;
	margin-left: 5px;
}

.pagination ul > li:hover > a {
	color: #FFF;
	background-color: #2AB3B3;
}

.pagination ul > li.disabled > a {
	border-color: #15191E;
	background-color: #20252B;
	margin-left: 5px;
}

.pagination ul > li.disabled:hover > a {
	color: #FFF;
	border-color: #15191E;
	background-color: #2AB3B3;
}

.pagination ul > li.active > a, .pagination ul > li.active > a:hover {
	border-color: #15191E;
	background-color: #2AB3B3;
}

.page-content .c-layout-grid {
	border-left: 1px solid #E2E8E8;
}
