select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    height: 32px;
}

.dataTables_scrollBody table {
    border-top-width: 0px;
}

.dataTables_scrollBody thead tr {
    line-height: 0;
}

.dataTables_scrollBody thead tr th[class*="sort"]:after {
    content: "";
}

.dataTables_info {
    margin: 6px 0 0 12px;
}

div.modal {
    position: absolute;
}

div.modal-body {
    max-height: inherit;
}

.filter_column {display:inline-block !important; width:100% !important;}

.text_filter, .select_filter, .filter_date_range, .filter_number_range {
	width:90% !important;
}

.date_range_filter {
	width: 30%;
}

.filter_column input {
	height: 22px !important; 
}
