.ui-layout-north {
    padding: 0px;
}

.ui-layout-pane {
    border: 0px none;
}

.ui-layout-north .navbar {
    margin-bottom: 0px;
}

.ui-layout-north .navbar-inner {
    border-radius: 0;
}

.ui-layout-west .sidebar-nav {
    margin-bottom: 0px;
}
.ui-layout-content {
    padding: 0;
}
.ui-layout-center, .ui-layout-west, .ui-layout-east, .ui-layout-south, .ui-layout-north {
    padding: 0;
    overflow: hidden;
}
/*
.ui-layout-west .ui-layout-content {
    padding: 0;
    overflow : hidden;
}*/

/*
.ui-tabs-nav li {
    white-space:	nowrap;
}
.ui-tabs-nav li a {
    font-size:		1em !important;
    padding:		4px 1.5ex 3px !important;
}
.ui-tabs-panel {
    font-size:		1em !important;
    padding:		0 1em !important;
}
*/

.ui-layout-pane-center {
    padding:	0;
    overflow:	hidden;
}
.ui-layout-pane-center .ui-tabs-nav {
    /* don't need border or rounded corners - tabs 'fill' the pane */
    border-top:		0;
    border-left:	0;
    border-right:	0;
    padding-bottom:	0 !important;
    -moz-border-radius:		0;
    -webkit-border-radius:	0;
}

/*#homeTabs { margin-top : 1em; }*/
li .ui-icon-close {
    float : left;
    margin : 0.7em 0.2em 0 -0.5em;
    cursor : pointer;
}
