body {
    font-size: 13px;
    color: #545454;
    background-color: #F1F1F1;
}

.ui-widget-content a {
}

.ui-layout-pane {
    border: 0px none;
}

.ui-layout-content {
    padding: 0;
}

.ui-layout-center, .ui-layout-west, .ui-layout-east, .ui-layout-south, .ui-layout-north {
    padding: 0;
    overflow: hidden;
}

.ui-layout-north {
    padding: 0;
}

.ui-header {
    background-color: #3B5999;
    border-bottom: 1px solid #244384;
    color: #E2E2E2;
    height: 93px;
}

.ui-app-logo {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.ui-app-name {
    float: left;
    margin-left: .5em;
    margin-top: 1.3em;
    font-size: 174%; /* 23px */
    color: white;
}

.ui-global-feature {
    float: right;
    height: 60px;
    margin-right: 1em;
}

.ui-welcome-message,
.ui-todo-indicator,
.ui-shortcut-group {
    float: left;
    margin-right: 1em;
    position: relative;
    top: 50%;
}

.ui-welcome-message {
    margin-top: -10px;
}

.ui-todo-indicator {
    margin-top: -15px;
}

.ui-shortcut-group {
    margin-top: -15px;
}

.ui-shortcut-menu {
    font-size: 93%;
}

.ui-sign-out {
    /*width: 14px;
    height: 14px;
    line-height: 14px;*/
    /*vertical-align: text-top;*/
}

.ui-header-top {
    height: 60px;
}

.ui-header-bottom {
    height: 23px;
    background-color: #F1F1F1;
}

.ui-header-bottom .edge {
    background: url("images/main-edge.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    position: relative;
    left: 210px;
    top: 13px;
    width: 100%;
}

.ui-main-top-edge {
    background: url("images/main-edge.png") no-repeat scroll 0 0 transparent;
    float: right;
    margin-top: 13px;
    height: 20px;
}

.ui-footer {
    height: 52px;
    background-color: #F1F1F1;
}

.ui-footer .edge {
    height: 10px;
    width: 100%;
    position: relative;
    left: 210px;
    background: url("images/main-edge.png") no-repeat scroll 0 -10px transparent;
}

.ui-footer footer {
    line-height: 42px;
    text-align: center;
}

.ui-layout-west {
    background-color: #F1F1F1;
    overflow: visible;
}

.ui-sidebar {
    margin: 15px 0 0 0;
    padding: 0 20px 0 0;
    width: 185px;
}

.ui-sidebar-header {
    border-bottom: 1px solid #D7D7D7;
    font-size: 108%;
    margin-left: 20px;
    padding-bottom: 6px;
}

.ui-sidebar-title {
    display: inline-block;
    line-height: 31px;
    font-weight: bold;
}

.icon-sidebar-toggler {
    background: url("images/icon.png") no-repeat scroll -142px 0 transparent;
}

.ui-sidebar-toggler {
    display: inline;
    font-size: 85%;
    height: 30px;
    width: 24px;
    line-height: 31px;
    padding-left: 20px;
    float: right;
}

.ui-sidebar-nav {
    margin-top: 13px;
}

.ui-sidebar-nav ul {
    margin: 0 0 0px 10px;
}

.ui-sidebar-nav li {
    height: 39px;
    list-style-type: none;
    width: 201px;
}

.ui-sidebar-nav a {
    display: block;
    font-size: 108%;
    line-height: 39px;
    color: #545454;
    text-decoration: none;
    padding-left: 10px;
}

.ui-sidebar-nav i {
    vertical-align: -2px;
}

.ui-sidebar-nav span {
    margin-left: 4px;
}

.icon-sidebar-nav-indicator {
    background: url("images/icon.png") no-repeat scroll 0 -34px transparent;
}

.ui-sidebar-nav-indicator {
    display: inline;
    height: 38px;
    width: 15px;
    float: right;
    margin-right: 28px;
}

.ui-sidebar-nav .active {
    background: url("images/icon.png") no-repeat scroll 0 -121px transparent;
    color: #D14836;
    font-weight: bold;
    position: relative;
    width: 201px;
}

.ui-main-top {
    background: url("images/main-edge.png") no-repeat scroll 0 0 transparent;
    height: 10px;
}

.ui-main-bottom {
    background: url("images/main-edge.png") no-repeat scroll 0 -10px transparent;
    height: 10px;
}

.ui-layout-center .ui-tabs-nav {
    border-top: 0;
    border-right: 0;
    padding-bottom:	0 !important;
    padding-left: 34px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.ui-layout-center .ui-widget-content {
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.ui-tabs-wrapper {
    border-left: 1px solid #DDDDDD !important;
    padding: 0 !important;
    height: 100%;
}

.ui-tabs-nav .ui-state-active .ui-icon {
    background-image: url("../jquery/ui//images/ui-icons_ffffff_256x240.png") !important;
}

.ui-tabs-nav li.ui-state-active:hover .ui-icon {
    background-image: url("../jquery/ui/images/ui-icons_888888_256x240.png") !important;
}

.ui-tabs-wrapper ul {
    height: 36px !important;
}

.ui-tabs .ui-tabs-nav li {
    margin-right: 7px;
    padding: 0;
    /*top: 0;*/
    border-bottom: 0 !important;
}

.ui-tabs-nav i {
    float: right;
    margin-left: -16px;
}

.ui-tabs-nav a {
    background-color: #F1F1F1 !important;
    color: #545454 !important;
    border-color: #DDD !important;
    margin-right: 0 !important;
}

.ui-tabs-nav .ui-state-active a {
    background-color: #3B5999 !important;
    color: white !important;
    border-color: #2F4B8A !important;
}

/*.ui-tabs-nav .ui-state-hover a {
    background-color: #DEDEDE !important;
}*/

/*.ui-tabs .ui-tabs-nav a {
    background-color: #F1F1F1 !important;
}*/

.ui-tabs-wrapper .ui-layout-content {
    overflow: auto;
}

/*li.ui-tabs-selected a {
    margin-bottom: 0 !important;
}*/

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-grid-center {
    margin-top: 17px !important;
    padding: 0 30px !important;
}

/* override jqgrid style */

.ui-jqgrid .ui-jqgrid-hdiv {
    /*border-top: 1px solid #EBEBEB !important;
    border-bottom: 1px solid #EBEBEB !important;*/
    border: 1px solid #EBEBEB !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    border-left: 1px solid #EBEBEB !important;
    border-right: 1px solid #EBEBEB !important;
    border-bottom: 1px solid #EBEBEB !important;
    /*overflow-x: auto !important;
    overflow-y: scroll !important;*/
}

.ui-jqgrid-htable th {
    height: 40px !important;
    border-right: 1px solid #EBEBEB !important;
    padding: 0 5px !important;
    /*border-right: none !important;*/
}

.ui-jqgrid-htable th:last-child {
    /*border-right: none !important;*/
}

.ui-jqgrid-htable,
.ui-jqgrid-btable {
    /*table-layout: auto !important;*/
}

.ui-jqgrid-btable .jqgrow {
    height: 40px !important;
    border-bottom: 1px solid #EBEBEB !important;
}

.ui-jqgrid-btable .jqgrow:last-child {
    border-bottom: 0px !important;
}

.ui-jqgrid tr.jqgrow td {
    border-bottom: none;
}

.ui-jqgrid-btable td {
    /*border-right: none !important;*/
    border-right: 1px solid #EBEBEB !important;
    padding: 0 5px !important;
    font-size: 13px !important;
}

.ui-jqgrid-btable td:last-child {
    /*border-right: none !important;*/
}

.ui-jqgrid-pager {
    border: none !important;
}

.ui-jqgrid-pager .ui-pg-input {
    width: auto !important;
}

.ui-jqgrid-sortable .ui-icon-asc {
    margin-left: 1px;
}

.ui-pg-button {
    vertical-align: top;
    padding-left: 3px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    -moz-transition: none;
    /*background-color: #FFFFFF;*/
    /*background-image: none;*/
    background: none;
    box-shadow: none;
}





/*
.ui-layout-west .ui-layout-content {
    padding: 0;
    overflow : hidden;
}*/

/*
.ui-tabs-nav li {
    white-space:	nowrap;
}
.ui-tabs-nav li a {
    font-size:		1em !important;
    padding:		4px 1.5ex 3px !important;
}
.ui-tabs-panel {
    font-size:		1em !important;
    padding:		0 1em !important;
}
*/

/*.ui-layout-pane-center {
    padding:	0;
    overflow:	hidden;
}*/
/*.ui-layout-pane-center .ui-tabs-nav {
    border-top:		0;
    border-left:	0;
    border-right:	0;
    padding-bottom:	0 !important;
    -moz-border-radius:		0;
    -webkit-border-radius:	0;
}*/

/*#homeTabs { margin-top : 1em; }*/
/*li .ui-icon-close {
    float : left;
    margin : 0.7em 0.2em 0 -0.5em;
    cursor : pointer;
}*/


/* css for timepicker */
/*.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { margin-left: 10px; height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }*/

.two-column-dialog {width: 850px; margin-left:-400px; margin-top: -250px;}

.ui-pnotify.stack-bar-top {
	margin-left: 15%;
	right: 0;
	top: 0;
	left: auto;
}

/* validator style */
label.valid {
    width: 24px;
	/*height: 24px;*/
    background: url(images/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
	/*margin-top: 2px;*/
    display: inline-block;
}

iframe.context-login-iframe {
  border-width: 0px;
  width: 100%;
  height: 400px;
}

.m-arraw {
  border-bottom: 10px solid #444;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0px solid #AAA;
  position: relative;
  top: -9px;
  left: 30px;
  width: 0px;
}

.m-arraw::after {
  content: "";
  border-bottom: 12px solid #AAA;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 0px solid #AAA;
  position: absolute;
  top: 1px;
  left: -12px;
  width: 0px;
}

.m-handle {
  height: 15px;
  left: 155px;
  position: relative;
  text-align: center;
  top: -26px;
  width: 80px;
  border-radius: 4px 4px 0 0;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: 0px;
}
