<div class="c-layout-container c-layout-grid">
    <div class="c-layout-north">
        <div class="c-layout-toolbar">
            <div class="row-fluid">
                <div id="toolbar" class="btn-toolbar"></div>
            </div>
        </div>
    </div>
    <div id="filter-container" class="c-layout-middle" style="display:none">
      <div id="filter"></div>
      <div class="btn-toolbar center">
        <button id="ok" class="btn">过滤</button>
        <button id="reset" class="btn">重置</button>
      </div>
    </div>
    <div class="c-layout-center">
        <div id="body" class="c-layout-body"></div>
    </div>
</div>
