<div class="c-layout-container c-layout-grid">
    <div class="c-layout-north">
        <ul id="tabs-" class="inbox-tabs nav nav-tabs padding-0 tab-size-bigger tab-space-1">
            <li class="active t-waiting">
                <a id="p-waiting" name="p-waiting" data-toggle="tab" href="#waiting" data-target="waiting">
                    <i class="blue icon-envelope bigger-130"></i>
                    <span class="bigger-110">待认领</span>
                </a>
            </li>

            <li>
                <a id="p-doing" name="p-doing" data-toggle="tab" href="#doing" data-target="doing">
                    <i class="orange icon-inbox bigger-130 "></i>
                    <span class="bigger-110">待办理</span>
                </a>
            </li>

            <li>
                <a id="p-done" name="p-done" data-toggle="tab" href="#done" data-target="done">
                    <i class="green icon-ok bigger-130"></i>
                    <span class="bigger-110">已办理</span>
                </a>
            </li>
           <li>
                <a id="p-all" name="p-all" data-toggle="tab" href="#all" data-target="all">
                    <i class="green icon-pencil bigger-130"></i>
                    <span class="bigger-110">全&nbsp;&nbsp;&nbsp;部</span>
                </a>
            </li>            
        </ul>
    </div>
    <div class="c-layout-center c-waiting">
        <div id="toolbar-waiting" class="btn-toolbar c-waiting"></div>
        <div id="body-waiting" class="c-layout-body c-waiting"></div>
    </div>
    <div class="c-layout-center c-doing" style="display:none">
        <div id="toolbar-doing" class="btn-toolbar c-doing"></div>
        <div id="body-doing" class="c-layout-body c-doing"></div>
    </div>
    <div class="c-layout-center c-done" style="display:none">
        <div id="toolbar-done" class="btn-toolbar "></div>
        <div id="body-done" class="c-layout-body "></div>
    </div>
            <div class="c-layout-center c-none" style="display:none">
        <div id="toolbar-none" class="btn-toolbar "></div>
        <div id="body-none" class="c-layout-body "></div>
    </div>
        <!-- <div id="toolbar-container" class="c-layout-middle" >
            <div id="toolbar-waiting" class="btn-toolbar c-waiting"></div>
            <div id="toolbar-doing" class="btn-toolbar c-doing"></div>
            <div id="toolbar-done" class="btn-toolbar c-done"></div>
            <div id="toolbar-none" class="btn-toolbar c-none"></div>
        </div>
        <div class="c-layout-center">
            <div id="body-waiting" class="c-layout-body c-waiting"></div>
            <div id="body-doing" class="c-layout-body c-doing"></div>
            <div id="body-done" class="c-layout-body c-done"></div>
            <div id="body-none" class="c-layout-body c-none"></div>
        </div> -->
</div>
