.ui-layout-pane {
    padding: 0;
    border: 0;
}

.coala-layout-grid-main .ui-corner-all {
    border-radius: 0;
}

.coala-layout-grid-main .ui-widget-content {
    border: 0;
}

.ztree * {
    font-size: 13px;
}

.ztree li {
    padding: 2px 0;
}

label, input, button, select, textarea {
    font-size: 13px;
}

