.ui-layout-pane {
    padding: 0;
    border: 0;
}

.coala-layout-grid-main .ui-corner-all {
    border-radius: 0;
}

.coala-layout-grid-main .ui-widget-content {
    border: 0;
}

.ztree * {
    font-size: 13px;
}

.ztree li {
    padding: 2px 0;
}

label, input, button, select, textarea {
    font-size: 13px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size: 13px;
}
