.c-content {
    margin-top: 50px;
}

.c-green-background {
    background-color: #68B02A;
}

.c-icon-small {
    font-size: 12px;
}

.c-sso-signout-left {
    margin-top: 100px;
    text-align: right;
}

.c-sso-signout-right {
    margin-top: 160px;
    color: white;
    min-width: 280px;
}

.c-sso-signout-right h2 {
    color: white;
}

.c-sso-consumer-signout-resignin {
    color: #FFFC00;
    text-decoration: underline;
}

/* for sign-in page */
.c-sso-consumer-signin-post {
    margin-top: 100px;
    text-align: center;
}

.c-sso-consumer-signin-post img {
    margin-bottom: 20px;
}

