.coala-viewport-header {
    height: 50px;
    border-bottom: 1px solid #BABABA;
    background: url('../images/header-bg.jpg') repeat-x;
    background-image: -ms-linear-gradient(top, #F5F7F8 0%, #EAEEF0 100%);
    background-image: -moz-linear-gradient(top, #F5F7F8 0%, #EAEEF0 100%);
    background-image: -o-linear-gradient(top, #F5F7F8 0%, #EAEEF0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F7F8), color-stop(1, #EAEEF0));
    background-image: -webkit-linear-gradient(top, #F5F7F8 0%, #EAEEF0 100%);
    background-image: linear-gradient(to bottom, #F5F7F8 0%, #EAEEF0 100%);
}

.coala-system-logo {
    display: block;
    float: left;
    height: 38px;
    width: 128px;
    margin-top: 6px;
    margin-left: 15px;
}

.coala-system-name {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 23px;
    color: #605956;
}

.coala-global-feature {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.coala-viewport-footer {
    height: 120px;
    background: url('../images/footer-bg.png') repeat-y;
}

.coala-viewport-region {
    height: 100%;
    min-height: 100%;
}

.coala-viewport {
    height: 100%;
}

.coala-viewport-content {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 120px;
    overflow: hidden;
}

.coala-viewport-feature {
    height: 100%;
}

.coala-taskbar-pin {
    /*margin: 0 20px;*/
    margin: 5px 20px 0 20px;
}

.coala-taskbar-carousel {
    margin-top: 0;
}

.coala-taskbar-pin ul,
.coala-taskbar-carousel ul {
    margin: 0;
    padding: 0;
}

.coala-taskbar-pin li,
.coala-taskbar-carousel li {
    display: block;
    float: left;
    list-style: none outside none;
    text-align: center;
    font-size: 13px;
    width: 80px;
    cursor: pointer;
}

.coala-taskbar-carousel li {
    -webkit-transition: width .5s, opacity .5s;
    -moz-transition: width .5s, opacity .5s;
    -o-transition: width .5s, opacity .5s;
    transition: width .5s, opacity .5s;
}

.coala-taskbar-app-icon {
    height: 60px;
    width: 60px;
    position: relative;
    left: 50%;
    margin: 10px 0 5px -29px;
    background: url('../images/default-app-icon.png') no-repeat;
}

.coala-taskbar-app-text {
    color: #444;
    line-height: 18px;
    height: 36px;
    width: 100%;
    overflow: hidden;
}

.coala-taskbar-prev,
.coala-taskbar-next {
    display: block;
    width: 15px;
    height: 21px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.coala-taskbar-prev {
    left: 10px;
}

.coala-taskbar-next {
    right: 10px;
}

.coala-taskbar-carousel-icon {
    width: 70px;
    position: relative;
    left: 50%;
    margin-left: -35px;
}

.coala-taskbar-app-remove {
    height: 24px;
    width: 24px;
    position: relative;
    top: -107px;
    display: none;
}

.coala-taskbar-carousel li:hover .coala-taskbar-app-remove {
    display: block;
}

