html, body {
    height: 100%;
}

.c-system-logo {
    display: block;
    float: left;
    height: 25px;
}

.c-system-name {
    float: left;
    margin-left: 10px;
    font-size: 85%;
    margin-top: 5px;
}

.c-layout-grid-container {
    height: 100%;
}

.c-layout-grid-main {
    height: 100%;
}

.c-layout-toolbar-main {
    border-bottom: 1px solid #D3D3D3;
}

.c-layout-toolbar-main .btn-toolbar {
    margin-left: 10px;
    margin-right: 10px;
}

