html, body {
    height: 100%;
}

.c-system-logo {
    display: block;
    float: left;
    height: 25px;
}

.c-system-name {
    float: left;
    margin-left: 10px;
    font-size: 85%;
    margin-top: 5px;
}

.c-layout-grid-container {
    height: 100%;
    overflow: hidden;
}

.c-layout-grid-container .ui-layout-center {
    height: 100%;
    overflow: auto;
}

.c-layout-grid-main {
    height: 100%;
    overflow: auto;
    margin-top: -60px;
    border-top: 60px solid;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.c-layout-toolbar-main {
    border-bottom: 1px solid #D3D3D3;
}

.c-layout-toolbar-main .btn-toolbar {
    margin-left: 10px;
    margin-right: 10px;
}

.c-picker {
  width: 100%;
  position: relative;
}

.c-picker .uneditable-input {
  width: 100%;
  display: inline-block;
  height: 32px;
  border-radius: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.c-picker a.btn {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 22px;
  line-height: 22px;
  padding: 0px 12px 0 12px;
}

.c-picker .text {
  position: absolute;
  overflow: hidden;
  width: 90%;
  top: 7px;
}

.c-action-form .tab-content {
    border: 1px solid #C5D0DC;
}
